<div id="portfolio" class="uk-section-secondary">
    <div class="portfolio-section uk-background-norepeat uk-background-center-right uk-section uk-section-xlarge">
        <div class="uk-container uk-margin-xlarge">
            <div class="uk-flex-middle uk-grid" uk-grid>
                <div class="uk-width-2-3@m">
                    <h1 class="uk-text-left@m uk-text-center uk-heading-primary">Things we've made</h1>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin uk-text-right@m uk-text-center">
                        <a href="#" class="uk-button uk-button-default">All Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid-large uk-margin-large uk-grid">
            <div class="uk-width-1-1@m">
                <div class="uk-margin uk-text-center" uk-slider="sets: true">

                    <div class="uk-position-relative uk-visible-toggle">
                        <ul class="uk-slider-items uk-grid uk-grid-large">
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-01.jpg') }}" alt="Sneaker">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Sneaker
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Online Campaign</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-02.jpg') }}" alt="Pantheon">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Pantheon
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Brand Identity</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-03.jpg') }}" alt="Bloom Architects">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Bloom Architects
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Print Branding</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-04.jpg') }}" alt="Digital Watch">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Digital Watch
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Marketing / Commercial</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-05.jpg') }}" alt="Bass By Boo">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Bass By Boo
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Corporate Identity / Website</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-06.jpg') }}" alt="Lacroc">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Lacroc
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">E-Commerce / UX Design</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-07.jpg') }}" alt="Avenue">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Avenue
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Print Design</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-08.jpg') }}" alt="Essential">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Essential
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Print</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-09.jpg') }}" alt="Carbon Bikes">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Carbon Bikes
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Branding / Website</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-10.jpg') }}" alt="La Rouge">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                La Rouge
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Photography / Website</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-11.jpg') }}" alt="Ivar Furniture">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Ivar Furniture
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Marketing / Mobile App</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                            <li class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                                <div class="uk-cover-container uk-transition-toggle">
                                    <img width="810" src="{{ asset('build/images/portfolio-12.jpg') }}" alt="Castell">
                                    <div class="uk-position-cover uk-overlay-primary uk-transition-fade"></div>
                                    <div class="uk-position-center">
                                        <div class="uk-overlay uk-transition-fade">
                                            <h2 class="uk-margin uk-transition-slide-top-small uk-margin-remove-adjacent uk-margin-remove-bottom">
                                                Castell
                                            </h2>
                                            <div class="uk-margin uk-transition-slide-bottom-small">Mobile App / UX Design / Print</div>
                                        </div>
                                    </div>
                                    <a href="#" class="uk-position-cover"></a>
                                </div>
                            </li>
                        </ul>
                        <div class="uk-hidden-hover uk-hidden-touch uk-visible@s">
                            <a class="uk-position-large uk-position-center-left uk-slidenav-previous uk-icon uk-slidenav"
                               href="#" uk-slidenav-previous="" uk-slider-item="previous"></a>
                            <a class="uk-position-large uk-position-center-right uk-slidenav-next uk-icon uk-slidenav"
                               href="#" uk-slidenav-next="" uk-slider-item="next"></a>
                        </div>
                    </div>

                    <div class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top" uk-margin></div>

                </div>
            </div>
        </div>
    </div>
</div>